page-login {

  .scroll-content {

    background-size: cover;

    img.logo {
      margin: 40px auto 10px;
      display: block;
      width: 87%;
      max-width: 400px;


    }

    #login-form {
      padding: 32px;

      margin: 0 20px;

      button {
        margin-top: 30px;
      }
      color: $login-text-color;

      .create-account-title {
        margin-bottom: 25px;
        margin-top: 35px;
      }

      p.description {
        color: #A09F9E;
        margin-top: 10px;
        text-align: center;
        font-size: 12px;
      }
      ion-item.item {
        margin-top: 10px;
        color: $login-text-color;
        padding-left: 0;
        background-color: transparent;
        .item-inner {
          border-bottom-color: color($colors, dark);
        }

        &.forgot-password {
          margin-left: auto;
          margin-right: auto;
          width: 197px;
          .item-inner {
            align-items: flex-start;
            border: none;
          }
          ion-label {
            margin-top: 5px;
            margin-bottom: 50px;
          }
          a {
            color: $text-color;
            font-size: 1.5rem;
            text-decoration: none;
          }
        }

        ion-input, ion-label {
          font-size: 14px;
        }
        .item-inner {
          border-bottom-color: $login-line-color;
        }

        .text-input, .text-input-ios, ion-label {
          margin-bottom: 5px;
        }
      }

      button.ion-button {
        .button-inner {
          text-transform: uppercase;
        }
      }
    }
  }
}
