<ion-content padding>
  <img src="./assets/imgs/rcpar-logo.svg" text-center="" class="logo"/>

  <form #loginForm="ngForm" id="login-form" novalidate>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>

    <!-- or with standalone set to true -->
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>

    <button ion-button full (click)="login(loginForm)">Log in</button>

    <ion-item text-center class="forgot-password">
      <a (tap)="openExternalLink(baseSiteUrl + '/user/password?rs=mb')" >
        Forgot your password ?
      </a>
    </ion-item>

  </form>

</ion-content>
