page-notification-view {
  .scroll-content {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .date {
    color: #9b9c9b;
  }
  .text {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .image {
    text-align: center;
  }
  button {
    font-size: 15px;
    font-weight: bold !important;
    height: 45px !important;
  }
  ion-header ion-icon {
    width: 26px;
    background: url("../assets/imgs/player/player-left-arrow.svg") center center no-repeat;
    color: transparent
  }
  ion-title{
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
