<ion-header>
  <ion-navbar>
    <ion-title>{{notification.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="date">
    {{stringdate}}
  </div>
  <div [innerHTML]="notification.body" class="text">
  </div>
</ion-content>
