multilevel-push-menu {
  .content {
    background: $sidebar-background-color;
    color: $sidebar-text-color;
  }

  .scroll-content {
    margin-top: 60px;
  }
  button.active {
    background: #efefef;
  }

  ion-slide.swiper-slide {
    align-items: flex-start;
  }

  ion-slide.menu-level {
    .item {
      margin-bottom: 15px;
      padding-left: 37px;
      &.available-upgrades-header {
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        padding-left: 24px;
        ion-icon {
          margin-right: 10px;
        }
      }
    }
  }

  .menu-level ion-toolbar {
    //padding-top: $toolbar-ios-padding;
    padding-top: 15px;

  }

  ion-list {
    padding-top: 18px;
    .item {
      color: $sidebar-text-color;
      background: transparent;
      ion-label {
        white-space: normal;
      }
      padding-right: 15px;
      .item-inner {
        line-height: 1.2;
      }

    }
  }

  button.current-section-indicator-wrapper {
    height: 40px !important;
  }
  button.current-section-indicator-wrapper, button.current-section-indicator-wrapper .button-inner {
    overflow: visible !important;
  }

  .nav-item-icon[item-start] {
    width: 55px;
    height: 55px;
    line-height: 55px;

    margin-right: 21px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;

    &.AUD {
      background: color($section_colors, aud);
    }
    &.BEC {
      background: color($section_colors, bec);
    }
    &.FAR {
      background: color($section_colors, far);
    }
    &.REG {
      background: color($section_colors, reg);
    }

    &.nav-item-icon-small {
      width: 37px;
      height: 37px;
      line-height: 37px;
      font-size: 12px;
      font-weight: 700;
      margin: 3px;
      border-radius: 4px !important;

    }

  }

  .swiper-pagination-bullet {
    background: #73706f;
    &.swiper-pagination-bullet-active {
      background: #ffffff;
    }
  }

  .logo {
    margin: 28px auto;
    width: 75%;
    max-width: 215px;
  }

  .menu-level-2 {
    .current-section-indicator {
      margin: 10px;
    }
    ion-navbar {
      padding: 25px 7px;
      .toolbar-background, .toolbar-background-ios {
        background: none;
      }

      .bar-buttons, .bar-buttons-md {
        order: 1;
      }
    }
    .item {
      > ion-icon, > ion-icon:first-child {
        min-width: 0;
        padding-right: 20px;
      }
    }

  }



  .disabled .label {
    color: $menu-upgrades-text-color;
  }

  .disabled ion-icon {
    opacity: 0.5;
  }

  .notifications{
    position: relative;
    .news {
      position: absolute;
      background-color: red;
      border-radius: 25px;
      font-size: 15px;
      width: 15px;
      height: 15px;
      top:0;
      right: -5px;
      border: 2px solid #383938;
    }
  }

  ion-list .item.activated{
    background-color: #505050	 !important;
  }
  .no-courses{
    text-align: center;
    ion-label{
      color: white !important;
      font-size: 15px;
    }
  }

 .access-restricted-message  {
    .alert-title {
      font-weight: normal;
      line-height: 1.5 ;
    }
    .alert-message {
      margin-top: 10px;
      font-size: 14px;
    }
    button.alert-button {
      &:last-child {
        font-weight: 600;
      }
      color: #4274b9;
      font-weight: 600;
    }

  }


}
