<!-- no-bounce helps prevent vertical ios scrolling beyond content -->
<ion-content no-bounce no-header no-margin>
  <ion-slides no-bounce pager #menuSlider centeredSlides>

    <!-- this slide holds the top level sections [Aud // Reg // Far // Bec] links -->
    <ion-slide class="menu-level menu-level-1">
      <img class="logo" src="./assets/imgs/logo-white.svg"/>
      <ion-list no-lines>

        <button ion-item *ngFor="let i of items "
                (click)="openSection(i)"
                [class.active]="checkActiveItem(i,1)"
                detail-none
        >
          <div class="nav-item-icon" [ngClass]="i.section" item-start> {{i.section}}</div>
          <div>
            {{i.title}}
          </div>
        </button>
      </ion-list>

    </ion-slide>

    <!-- this slide is for the [Progress // Review Course // Cram Course // Downloads // Notifications] links -->
    <ion-slide class="menu-level menu-level-2">
      <ion-navbar>
        <ion-buttons start>
          <button ion-button start icon-only (tap)="gotoPrevLevel()">
            <ion-icon name="custom-arrow-left"></ion-icon>
          </button>
          <button class="current-section-indicator-wrapper" ion-button start icon-only (tap)="gotoPrevLevel()">
            <div
              class="nav-item-icon nav-item-icon-small current-section-indicator AUD"
              item-start
              [ngClass]="firstLevelRoot?.section"
            >
              {{ firstLevelRoot?.section}}
            </div>
          </button>
        </ion-buttons>
      </ion-navbar>

      <ion-list no-lines>
        <ng-container *ngFor="let i of subItems | filter:{enabled: true}">
          <button *ngIf="i.id=='notifications'" menuClose ion-item detail-none (click)="openSectionItem(i)">
            <ion-icon name="{{i.icon}}" item-start class="{{i.id}} {{i.icon}}">
              <span class="news" *ngIf="(notificationProvider.notifications_unread$ | async).length > 0"></span></ion-icon>
            {{i.title}}
          </button>

          <button *ngIf="i.activated && i.id!='notifications'" menuClose ion-item detail-none (click)="openSectionItem(i)">
            <ion-icon name="{{i.icon}}" item-start class="{{i.id}} {{i.icon}}"></ion-icon> {{i.title}}
          </button>
          <button *ngIf="!i.activated && i.id!='notifications'" ion-item detail-none (click)="notActivated(i)">
            <ion-icon name="{{i.icon}}" item-start class="{{i.id}} {{i.icon}}"></ion-icon> {{i.title}}
          </button>
        </ng-container>
      </ion-list>
    </ion-slide>

  </ion-slides>
</ion-content>
