page-downloads {
  ion-list{
    margin-top: 56px !important;
  }

  .scroll-content{
    margin-top: 0 !important;
  }


  .download-list {
    margin-top: 10px;
    padding: 10px 20px;
  }

  .toolbar-title {
    color: #4bc9f5;
  }

  .toolbar-background {
    background: transparent;
    border-bottom: none !important;
  }

  [padding] .scroll-content {
    padding-left: 23px !important;
    padding-right: 23px !important;
  }

  ion-content.content {
    background: #f8f9fa;

    .download-title {
      font-weight: 600;
      color: #353535;
    }

    ion-item-divider {
      border-bottom: 1px solid #ebecec;
      background: white;
      font-size: 15px;

      .remove-all {
        float: right;
        //color: color($colors, primary);
        color: #4bc9f5;
        font-weight: 600;
        margin-right: 10px;
      }
    }

    h5 {
      font-weight: 600;
      margin-bottom: 15px;
    }

    .box {
      padding: 0;

      ion-icon {
        color: #353535;

        &.play {
          font-size: 30px;
        }
      }
    }

    .no-downloads {
      padding: 15px 20px;
      p {
        margin: 0;
      }
      .placeholder {
        background: url(../assets/imgs/downloads/downloads-placeholder.svg) center no-repeat;
        height: 75px;
        margin-top: 5px;

      }
    }
  }

  player {
    @media screen and (orientation: landscape) {
      display: block;
    }
  }

  @media screen and (min-width: 534px)  {
    .box{
      .button-md{
        margin: 10px;
        [name="play"]{
          font-size: 30px !important;
          width: 20px !important
        }
        [name="custom-trash"]{
          width: 20px !important;
        }
        [name="custom-ebook"] {
          width: 20px !important;
        }
      }
    }
  }
}
