<ion-header  *ngIf="!fullscreen" >
  <top-bar [pageTitle]="'Downloads'" [sectionName]="section">
  </top-bar>
</ion-header>

<ion-content no-scroll no-bounce no-padding >

  <player #appPlayerComponent
          autoplay
          *ngIf="currentDownload"
          [videoUrl]="currentDownload.video.localFilename"
          [videoTitle]="currentDownload.title"
          (onFullScreen)="onFullScreen($event)"
          fullscreen="1">
  </player>

  <ion-list *ngIf="!fullscreen" class="download-list">
    <h5>Review Course</h5>
    <ion-item-group *ngIf="hasDownloads('regular_course')" class="box">
      <ion-item-divider color="light">
        <span class="topic">Topic</span>
        <span align-self-end class="remove-all" (click)="presentDeleteAllRegularConfirm()">Remove All</span>
      </ion-item-divider>
      <ion-item *ngFor="let download of topicDownloads | filter:{courseType: 'regular_course'} " no-lines>
        <p class="download-title">
          {{download.title}}
        </p>

        <button ion-button icon-only clear outline item-end  (tap)="play(download)">
          <ion-icon name="play"></ion-icon>
        </button>
        <button ion-button icon-only clear outline item-end (tap)="viewPDF(download)">
          <ion-icon name="custom-ebook"></ion-icon>
        </button>
        <button ion-button icon-only clear outline item-end (tap)="presentDeleteConfirm(download)">
          <ion-icon name="custom-trash"></ion-icon>
        </button>
      </ion-item>
    </ion-item-group>

    <ion-item-group *ngIf="!hasDownloads('regular_course')"  class="box no-downloads">
      <p>Your course downloads will be listed here</p>
      <div class="placeholder"></div>
    </ion-item-group>

    <h5>Cram Course</h5>
    <ion-item-group *ngIf="hasDownloads('cram_course')" class="box">
      <ion-item-divider color="light">
        <span class="topic">Topic</span>
        <span align-self-end class="remove-all" (click)="presentDeleteAllCramConfirm()">Remove All</span>
      </ion-item-divider>
      <ion-item *ngFor="let download of topicDownloads | filter:{courseType: 'cram_course'} " no-lines>
        <p class="download-title">
          {{download.title}}
        </p>

        <button ion-button icon-only clear outline item-end  (tap)="play(download)">
          <ion-icon name="play"></ion-icon>
        </button>
        <button ion-button icon-only clear outline item-end (tap)="viewPDF(download)">
          <ion-icon name="custom-ebook"></ion-icon>
        </button>
        <button ion-button icon-only clear outline item-end (tap)="presentDeleteConfirm(download)">
          <ion-icon name="custom-trash"></ion-icon>
        </button>
      </ion-item>
    </ion-item-group>

    <ion-item-group *ngIf="!hasDownloads('cram_course')"  class="box no-downloads">
      <p>Your course downloads will be listed here</p>
      <div class="placeholder"></div>
    </ion-item-group>




  </ion-list>

</ion-content>


