@media screen and (orientation: portrait) {
  page-videos > ion-content > .fixed-content, page-videos > ion-content > .scroll-content {
    margin-top: 54px !important;
  }
}


page-videos {

  ion-header {
  }

  .video-wrapper {
    background: #000000;
  }

  height: 100%;

  ion-content {
    display: flex;
    flex-flow: column;
    height: 100%;

    player {
      display: block;
      flex: 0 1 auto;
      flex-grow: 0;
      // calculate the ratio based on a 16/9 ratio and the width; we assume a 16/9 video ratio
      height: calc(width * (16 / 9));

      @media screen and (orientation: portrait) {
        .video-wrapper {
          padding-top: 56.25%;
          video{
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }

    .scroll-content {
      display: flex;
      flex-direction: column;
    }

    ion-scroll {
      flex: 1 1 auto;
    }

    ion-list, .list-ios, .list-md {
    }

    ion-list-header ~ ion-item.item {
      display: none;
    }

    //ion-list-header.expanded ~ ion-item.item {
    //  display: initial;
    //}

    ion-list-header.chapter-title {
      font-weight: 600;
      text-transform: none;
      color: $video-list-chapter-text-color;
      font-size: $video-list-chapter-font-size;
      padding: 8px 12px 8px 20px;
      border-bottom: 1px solid $video-list-line-color;
      border-top: none;
      margin-bottom: 0;
      ion-icon {
        background: url(../assets/imgs/videos/down-arrow.svg) no-repeat center;
        width: 15px;
      }
      &.expanded {
        ion-icon {
          background-image: url(../assets/imgs/videos/up-arrow.svg);
        }
      }
    }

    ion-list.video-list {

      ion-item.item, .item-block, .item-block:last-child {
        padding-left: 26px;
        border-bottom: 1px solid $video-list-line-color;
        // removed border from item inner (no-lines) and added to the item wrapper to fit layout
        &.active {
          background: color($colors, light);
        }

        &.disabled {
          opacity: 0.5;
          .slug {
            color: #3F403F;
          }

        }

        .item-inner {
          border: none;
        }
        [icon-only] ion-icon {
          font-size: 30px;
        }

        button[item-end] {
          height: 40px;
          margin-left: 2px;
          ion-icon {
            margin: 0 6px;
            &[name="play"] {
              color: #353535;
            }
            &[name="pause"] {
              color: #353535;
            }
          }
        }

        p {
          font-weight: 400;
          margin-bottom: 0;
        }
        p.slug {
          color: $video-list-slug-text-color;
          font-size: 13px;
        }
        p.title {
          font-size: 14px;
          color: $video-list-topic-text-color;
          font-weight: 600;
        }
        p.subtitle {
          font-size: 13px;
        }

        // Downloading video icon
        button.downloading {

          ion-icon {
            &[name="custom-download"] {
              width: 30px;
              height: 30px;
              background: url("../assets/imgs/videos/loading-circle.gif") center center no-repeat;
              background-size: cover;
              margin: 0;
            }
          }


        }

      }
    }
  }

  .player-options {
    display: none;
  }

}


.data-usage-confirm, .restricted-topic  {
  .alert-title {
    font-weight: normal;
    line-height: 1.5 ;
  }
  .alert-message {
    margin-top: 10px;
    font-size: 14px;
  }
  button.alert-button {
    &:last-child {
      font-weight: 600;
    }
    color: #4274b9;
    font-weight: 600;
  }

}


