<ion-header *ngIf="!fullscreen" [class.fullscreen]="fullscreen">
  <top-bar [pageTitle]="getPageTitle(section)" [sectionName]="section?.section">
    <ion-buttons end *ngIf="currentVideo && section" class="player-options">
      <button ion-button icon-only clear (click)="showTextbook()">
        <ion-icon name="paper"></ion-icon>
        &nbsp;&nbsp;Show textbook
      </button>
    </ion-buttons>
  </top-bar>
</ion-header>


<!--
  For pages that includes full screen video player needs "no-scroll no-bounce no-padding" !
-->
<ion-content *ngIf="networkProvider.hasNetwork == 'online'; else noNetwork" no-scroll no-bounce no-padding [class.fullscreen]="fullscreen" [class.playing]="currentVideo && section">
  <player #appPlayerComponent
          *ngIf="currentTopic"
          [videoUrl]="playMode == 'offline' ? localVideoUrl : currentTopic.video_urls.high.url"
          [pdfUrl]="currentTopic.pdf_url"
          (onFullScreen)="onFullScreen($event)"
          (onPlaying)="isPlayingChange($event)"
          [videoTitle]="section.section + ' ' + currentTopic.slug + ' : ' + currentTopic.title">
  </player>

  <canvas
    *ngIf="currentPDF"
    style="width: 100%"
    #pdf_container
    id="pdf-container">
  </canvas>


  <ion-scroll class="topics-list" no-padding no-margin scrollX="false" scrollY="true" zoom="false">

    <p *ngIf="!section" text-center>Please select a section</p>
    <ion-list #videoList class="video-list">
      <ng-container *ngFor="let chapter of section?.chapters">

        <ion-list-header class="chapter-title"
                         [class.expanded]="isChapterExpanded(chapter.id)"
                         (tap)="toggleExpandedChapter(chapter.id)">
          {{section.section}} {{chapter.delta}}: {{chapter.title}}
          <ion-icon item-end name="custom-arrow"></ion-icon>
        </ion-list-header>


        <ion-item [style.display]="isChapterExpanded(chapter.id)? 'flex':''"
                  *ngFor="let topic of chapter?.topics"
                  (tap)="videoRowClick(topic, $event)"
                  [class.disabled]= "hasRestrictedTopics && topicRestrictions.indexOf(topic.id) == -1"
                  [class.active]="currentTopic && currentTopic.id == topic.id">
          <p class="slug">{{section.section}} {{topic.slug}}</p>
          <p class="title">{{topic.title}}</p>
          <p class="subtitle">{{topic.duration/1000 | amDuration:'seconds' }}</p>

          <button *ngIf="!isPlaying || !(currentTopic && currentTopic.id == topic.id)" ion-button icon-only clear outline item-end (click)="play(topic)">
            <ion-icon name="play"></ion-icon>
          </button>

          <button *ngIf="isPlaying && (currentTopic && currentTopic.id == topic.id)" ion-button icon-only clear outline item-end (click)="pause()">
            <ion-icon name="pause"></ion-icon>
          </button>

          <button ion-button icon-only clear outline item-end toogle-ebook-button (click)="viewPDF(topic)">
            <ion-icon name="custom-ebook"></ion-icon>
          </button>

          <button *ngIf="allowedDownloads && !fileManager.downloadedTopics[topic.id]" [class.downloading]="fileManager.downloadingTopics[topic.id]"
                  ion-button icon-only clear outline item-end
                  (click)="download(topic)">
            <ion-icon name="custom-download"></ion-icon>
          </button>
          <button *ngIf="allowedDownloads && fileManager.downloadedTopics[topic.id]" ion-button icon-only clear outline item-end
                  (click)="presentDeleteConfirm(topic)">
            <ion-icon name="custom-trash"></ion-icon>
          </button>
        </ion-item>
      </ng-container>
    </ion-list>

  </ion-scroll>


</ion-content>
<ng-template #noNetwork>
  <no-network *ngIf="section" [sections]="[section]"></no-network>
</ng-template>
