<ion-header>
  <top-bar [showLogoSeparator]="false" [pageTitle]="'Welcome'">
  </top-bar>
</ion-header>

<ion-content padding>
  <br/>
  <h5>Welcome to the Roger CPA Review mobile app. Please select AUD, BEC, FAR, or REG on the previous screen to proceed.</h5>
</ion-content>
