<ion-header>

  <ion-navbar hideBackButton>
    <ion-buttons end>
      <button class="close" ion-button icon-only (tap)="navCtrl.pop()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>

<!--<ion-content>-->
<div  *ngIf="networkProvider.hasNetwork == 'online'; else noNetwork" >
  <div class="profile">
    <div class="picture">
      <img src="./assets/imgs/settings/default-avatar.svg" alt="">
    </div>
    <div class="username">
      {{userLogin.user?.profile.display}}
    </div>
    <div class="useremail">
      {{userLogin.user?.profile.mail}}
    </div>
  </div>

  <div class="actions">

    <ion-row class="box launch-intro" (tap)="launchIntro()">
      <ion-col>
        Launch app introduction
        <ion-icon float-right name="custom-arrow-right"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="box logout" (tap)="showLogoutConfirm()">
      <ion-col>
        Log out
        <ion-icon float-right name="custom-logout"></ion-icon>
      </ion-col>
    </ion-row>



  </div>
</div>


<!--</ion-content>-->

<ng-template #noNetwork>
  <no-network *ngIf="sections" [sections]="sections"></no-network>
</ng-template>
