page-settings {

  background: #f8f9fa;
  .close {
    font-size: 23px;
    margin-right: 3px;
  }
  .profile {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../assets/imgs/settings/background.jpg");
    background-size: cover;
    color: white;
    .picture {
      height: 100px;
      width: 100px;
      border: 2px solid white;
      border-radius: 50px;
      background-color: white;
      padding: 12px;
    }
    .username {
      font-weight: 600 ;
      margin-top: 10px;
      font-size: 18px;
    }
    .useremail {
      font-size: 16px;

    }
    margin-bottom: 12px;
  }

  ion-title .toolbar-title {
    font-size: 20px;
    font-weight: 600;
  }

  ion-navbar .toolbar-background {
    border-bottom: none !important;
  }

  .actions {
    font-size: 16px;
    font-weight: 600;
    padding: 0px 20px ;

    .box {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}


.logout-confirm {
  .alert-title {
    font-weight: normal;
    line-height: 1.5 ;
  }
  .alert-message {
    margin-top: 10px;
    font-size: 14px;
  }
  button.alert-button {
    &:last-child {
      font-weight: 600;
    }
    color: #4274b9;
    font-weight: 600;
  }

}


