no-network {
  .wrapper {
    .image{
      padding-top: 135px;
      padding-left: 58px;
      padding-right: 40px;
    }
    .title{
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      padding-top: 15px;
    }
    .subtitle{
      text-align: center;
      padding-top: 18px;
      padding-left: 60px;
      padding-right: 40px;
    }
    .button-wrapper{
      margin-top: 35px;
      padding-left: 60px;
      padding-right: 40px;
    }
  }
}
