<ion-content padding>
  <div class="wrapper">
    <div class="image">
      <img src="./assets/imgs/offline/unplug.svg" alt="">
    </div>
    <div class="title">
      You're off the grid!
    </div>
    <div class="subtitle">
      <div *ngIf="allowedDownloads; else noDownloads">
        This section is unavailable while offline. If you've downloaded any lectures, you can access them in Downloads.
      </div>
      <ng-template #noDownloads>
        This section is unavailable while offline. Please connect to WiFi or cellular data to regain access.
      </ng-template>
    </div>
    <div *ngIf="allowedDownloads" class="button-wrapper">
      <button (click)="goToDownloads()" ion-button full>GO TO DOWNLOADS</button>
    </div>
  </div>
</ion-content>
