ion-icon {
  &[name="custom-ebook"] {
    width: 14px;
    background: url("../assets/imgs/videos/e-book.svg") center center no-repeat;
    height: 100%;
  }

  &[name="custom-ebook-fullscreen"] {
    width: 16px;
    background: url("../assets/imgs/player/player-text.svg") center center no-repeat;
    height: 100%;
  }

  &[name="custom-player-left-arrow"] {
    width: 26px;
    background: url("../assets/imgs/player/player-left-arrow.svg") center center no-repeat;
    height: 100%;
  }

  &[name="custom-download"] {
    width: 21px;
    background: url("../assets/imgs/videos/download.svg") center center no-repeat;
    height: 100%;
  }

  &[name="custom-fullscreen"] {
    width: 21px;
    background: url("../assets/imgs/player/full-screen.svg") center center no-repeat;
    height: 100%;
  }

  &[name="custom-skip-back"] {
    width: 21px;
    background: url("../assets/imgs/player/skip-back.svg") center center no-repeat;
    height: 100%;
  }

  &[name="custom-progress-play"] {
    width: 21px;
    background: url("../assets/imgs/progress/progress-play.svg") center center no-repeat;
    height: 100%;
  }
  &[name="custom-player-play"] {
    width: 21px;
    background: url("../assets/imgs/player/play.svg") center center no-repeat;
    height: 100%;
  }

  &[ng-reflect-name="custom-progress"], &.custom-progress{
    width: 21px;
    background: url("../assets/imgs/menu/menu-progress.svg") center center no-repeat;
    height: 100%;
  }

  &[ng-reflect-name="custom-review"], &.custom-review{
    width: 21px;
    background: url("../assets/imgs/menu/menu-review.svg") center center no-repeat;
    height: 100%;
  }
  &[ng-reflect-name="custom-cram"], &.custom-cram {
    width: 21px;
    background: url("../assets/imgs/menu/menu-cram.svg") center center no-repeat;
    height: 100%;
  }
  &[ng-reflect-name="custom-settings"] , &.custom-settings {
    width: 21px;
    background: url("../assets/imgs/menu/menu-settings.svg") center center no-repeat;
    height: 100%;
  }
  &[ng-reflect-name="custom-notifications"] , &.custom-notifications {
    width: 21px;
    background: url("../assets/imgs/menu/menu-notifications.svg") center center no-repeat;
    height: 100%;
  }
  &[ng-reflect-name="custom-downloads"] , &.custom-downloads {
    width: 21px;
    background: url("../assets/imgs/menu/menu-download.svg") center center no-repeat;
    height: 100%;
  }

  &[ng-reflect-name="custom-arrow-left"], &[name="custom-arrow-left"] , &.custom-arrow-left {
    width: 9px;
    background: url("../assets/imgs/menu/menu-arrow-left.svg") center center no-repeat;
    height: 100%;
  }
  &[name="custom-lock"], &.custom-lock {
    width: 16px;
    background: url("../assets/imgs/lock.svg") center center no-repeat;
    height: 100%;
    &:before {
      content:"";
      display: inline-block;
    }
  }

  &[name="custom-trash"], &.custom-trash {
    width: 16px;
    background: url("../assets/imgs/delete.svg") center center no-repeat;
    height: 100%;
  }

  &[name="custom-arrow-right"] {
    width: 7px;
    background: url("../assets/imgs/notifications/notifications-arrow-right.svg") center center no-repeat;
    height: 100%;
  }

  &[name="custom-logout"] {
    width: 16px;
    background: url("../assets/imgs/settings/logout.svg") center center no-repeat;
    height: 100%;
  }

  &[name="custom-add"] {
    width: 20px;
    height: 20px;
    background: url("../assets/imgs/progress/add.svg") center center no-repeat;
  }

  &[name="custom-show-player"], &.custom-show-player  {
    width: 30px;
    height: 30px;
    background: url("../assets/imgs/player/show-video.svg") center center no-repeat;
  }



}
