// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

$menu-width: 330px;


$menu-upgrades-text-color: #b7b7b7;

$text-color: #444545;
$text-color-disabled: #a9abae;

// Specifif color per pages
$progress-title-color: #5a5a5c;
$progress-link-color: #4bc9f5;
$progress-subtitle-color: #6c6b6b;


@import "ionic.globals";
@import "icons.custom";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #52CAF3,
  secondary:  #68BA4E,
  danger:     #f53d3d,
  light:      #f3f4f4,
  dark:       #222
);


$section_colors: (
  aud:    #2caadd,
  bec:    #8a518a,
  far:    #64ba46,
  reg:    #fab545

);

$toolbar-background: color($colors,primary);
$tabs-background: #ffffff;
$tabs-tab-color-inactive: #585858;


$sidebar-text-color: #f9fafb;
$sidebar-background-color: #383938;


$login-text-color: #565655;
$login-line-color: #565655;


// Video list variables:

$video-list-chapter-text-color: #1d1e1e;
$video-list-chapter-font-size: 16px;
$video-list-line-color: #dcdbdb;
$video-list-slug-text-color: #50C9F5;
$video-list-topic-text-color: #3F403F;



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$tabs-ios-tab-color-inactive:$tabs-tab-color-inactive;
$list-ios-header-letter-spacing: inherit;
$toolbar-ios-height: 54px;

$alert-ios-max-width: 320px;
$alert-ios-head-padding-end: 37px;

$alert-ios-head-padding-top: 20px;
$alert-ios-message-padding-end: 37px;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$tabs-md-tab-color-inactive:$tabs-tab-color-inactive;




// App video player styles
// --------------------------------------------------
$range-ios-knob-width: 12px;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/OpenSans/OpenSans-Regular.ttf');
}


@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 600;
  src: url('../assets/fonts/OpenSans/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 700;
  src: url('../assets/fonts/OpenSans/OpenSans-Bold.ttf');
}


$font-family-md-base: "Open Sans", sans-serif;
$font-family-ios-base: "Open Sans", sans-serif;
$font-family-wp-base: "Open Sans", sans-serif;
