<ion-scroll scrollY="true" scrollX="true">
  <pdf-viewer [src]="pdfUrl"
              [zoom]="zoom"
              [render-text]="true"
              [original-size]="false"
              [show-all]="true"
              style="display: block;"
              [ngClass]="'wrapper-zoom-' + ( wrapperZoom * 100 )"
  >
  </pdf-viewer>
</ion-scroll>
