pdf-reader {
  height: 100%;
  display: block;
  .wrapper-zoom-100 .page .canvasWrapper {  zoom: 1; }
  .wrapper-zoom-125 .page .canvasWrapper {  zoom: 1.25; }
  .wrapper-zoom-150 .page .canvasWrapper {  zoom: 1.5; }
  .wrapper-zoom-175 .page .canvasWrapper {  zoom: 1.75; }
  .wrapper-zoom-200 .page .canvasWrapper {  zoom: 2; }
  .wrapper-zoom-225 .page .canvasWrapper {  zoom: 2.25; }
  .wrapper-zoom-250 .page .canvasWrapper {  zoom: 2.5; }
  .wrapper-zoom-275 .page .canvasWrapper {  zoom: 2.75; }
  .wrapper-zoom-300 .page .canvasWrapper {  zoom: 3; }
  .wrapper-zoom-325 .page .canvasWrapper {  zoom: 3.25; }
  .wrapper-zoom-350 .page .canvasWrapper {  zoom: 3.5; }
  .wrapper-zoom-375 .page .canvasWrapper {  zoom: 3.75; }
  .wrapper-zoom-400 .page .canvasWrapper {  zoom: 4; }

  ion-scroll {
    height: 100%;
    width: 100%;
    .scroll-content {
      padding: 0 !important;
    }
  }
  @media screen and (orientation: landscape) {
    .loadingIcon {
      top: 0;
      height: 100vh;
      bottom: auto;
    }
  }

}
