// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

progress {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  margin: 10px auto;
  padding: 0px;
}

progress::-webkit-progress-bar {
  background-color: #eee;
}

progress::-webkit-progress-value {
  background-color: color($colors,primary);;
}


.box {
  box-shadow: 0px 0px 6px 1px #eeeeee;
  background: #fff ;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 15px;
  .placeholder-image{
    margin-top: 15px;
  }
}

.toolbar-ios {
  //padding-top: 16px !important;
}

.action-sheet-ios .action-sheet-button{
  color: #4274b9;
  &.remove {
    color: #ef3f37;
  }
}
