<ion-menu [content]="content" (ionOpen)="menuOpened()" >
  <multilevel-push-menu
    #multilevelPushMenu
    [items]="sections | filter:{type:'regular_course'}"
    [subItems]="pages"
    [firstLevelRoot]="currentSection"
    (onMenuItemSelected)="onMenuItemSelected($event)"

  ></multilevel-push-menu>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>



