<ion-header>
  <ion-navbar>
    <button ion-button icon-only class="custom-back" (tap)="customBack()">
      <ion-icon name="arrow-back" ></ion-icon>
    </button>
    <ion-title>
      {{displayTitle}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <pdf-reader [pdfUrl]="pdfUrl"></pdf-reader>
</ion-content>
