<ion-header>
  <top-bar [pageTitle]="'Progress'" [sectionName]="currentSectionSku">
  </top-bar>
</ion-header>

<ion-content *ngIf="networkProvider.hasNetwork == 'online'; else noNetwork" padding id="welcome">

  <h5 >You left off at:</h5>
  <ion-row *ngIf="showContinueWatching && currentTopic" class="continue-watching not-empty">
    <ion-col text-left class="box">
      <button text-left ion-button icon-only clear outline item-start full (tap)="continueWatching()">
        <ion-icon class="custom-progress-play" name="custom-progress-play"></ion-icon>
        <span class="wrap-text">{{dataProvider.getTopicDisplayTitle(currentTopic)}}</span>
      </button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!( showContinueWatching && currentTopic ) " class="continue-watching empty">
    <ion-col class="box">
      Your latest in-progress lecture will appear here
      <img class="placeholder-image" src="./assets/imgs/progress/progress-placeholder.svg" alt="">
    </ion-col>
  </ion-row>

  <div [hidden]="!hasPermissions('regular_course')">
    <ion-row>
      <ion-col>
        <h5>Review Course</h5>
      </ion-col>
      <ion-col text-right class="view-outline-col">
        <a *ngIf="isActivated('regular_course')" class='view-outline' (tap)="viewOutline('regular_course')">View outline <ion-icon name="arrow-forward"></ion-icon></a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="box">
        <div id="regular_course_chart" align-items-center>
          <img src="./assets/imgs/videos/loading-circle.gif">
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div [hidden]="!hasPermissions('cram_course')">
    <ion-row>
      <ion-col>
        <h5>Cram Course</h5>
      </ion-col>
      <ion-col text-right class="view-outline-col">
        <a *ngIf="isActivated('cram_course')" class='view-outline' (tap)="viewOutline('cram_course')">View outline <ion-icon name="arrow-forward"></ion-icon></a>
      </ion-col>
    </ion-row>
    <ion-row class="box">
      <ion-col>
        <div id="cram_course_chart">
          <img src="./assets/imgs/videos/loading-circle.gif">
        </div>
      </ion-col>
    </ion-row>
  </div>


</ion-content>
<ng-template #noNetwork>
  <no-network *ngIf="sections" [sections]="sections"></no-network>
</ng-template>
