page-progress {
  .scroll-content {
    padding-top : 25px !important;
  }
  .toolbar-background {
    border-bottom: 0 !important;
    background:  transparent;
  }
  #welcome, .scroll-content {
    background-color: #f8f9fa ;
  }
  h3,h4,h5{
    color: $progress-title-color;
    font-weight: 600;
  }

  .slide-wrapper {
    background: transparent;
    padding-left: 0px ;
  }

  .custom-progress-play{
    margin-left: 5px;
    margin-right: 15px;
  }


  .continue-watching {
    button {
      color: $progress-link-color;
      margin: 0  ;
      font-weight:600;
      .button-inner{
        justify-content:flex-start;
      }
    }

  }

  .box {
    box-shadow: 0px 0px 6px 1px #eeeeee;
    background: #fff ;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 5px 15px;
    .placeholder-image{
      margin-top: 15px;
    }
  }




  // horizontal scroll for section list

  ion-content[padding] ion-scroll[scrollX] {
    white-space: nowrap;
    height: 12rem;
    overflow: hidden;

    .scroll-item {
      display: inline-block;
    }
    .selectable-icon {
      margin: 10px 20px 10px 20px;
      color: red;
      font-size: 100px;
    }
    .scroll-content {
      padding: 2px; // The icon shadow needs this padding
    }
  }


  .wrap-text {
    overflow: hidden;
    text-overflow: ellipsis;

  }
  .view-outline-col {
    padding-right: 0;
  }
  a{
    font-size: 16px;
    font-weight:600;
    ion-icon {
      vertical-align: middle;
      margin-left: 3px;
      font-weight: normal;
      font-size: 17px ;
    }
  }
  .no-permissions {
    text-align: center;
    color: #4bc9f5 ;
    font-size: 16px ;
    font-weight: 600;
    .circle {
      margin: 10px auto;
      border-radius: 50px;
      width: 100px;
      height: 100px;
      line-height: 100px;
      text-align: center;

      border: 5px solid #f4f5f5;
    }
  }

  #cram_course_chart, #regular_course_chart {
    text-align: center ;
    >img {
      width: 24px;
    }
  }

}
