<ion-header>
  <top-bar [pageTitle]="'Notifications'" [sectionName]="sectionName">
    <button ion-button (click)="toggleEditable()">
      {{editable ? "Cancel": "Edit"}}
    </button>
  </top-bar>
</ion-header>

<ion-content *ngIf="networkProvider.hasNetwork == 'online'; else noNetwork">
  <ion-list>

    <ng-container *ngFor="let notification of notifications$| async">

      <ion-item [class.read]="notification.status == 'read'" *ngIf="editable">
        <ion-checkbox (ionChange)="addOrRemoveSelectedOption(notification)" item-left
                      [checked]="selectedNotificationsContainsNotification(notification) != -1"></ion-checkbox>
        <ion-label>
          <div class="date">{{notification.created_date | timeStampToString}}</div>
          <div class="title">{{notification.title}}</div>
          <div class="text">{{notification.teaser}}</div>
        </ion-label>
      </ion-item>

      <button [class.read]="notification.status == 'read'" ion-item (click)="goToNotificationView(notification)"
              *ngIf="!editable">
        <div class="date">{{notification.created_date | timeStampToString}}</div>
        <div class="title">{{notification.title}}</div>
        <div class="text">{{notification.teaser}}</div>
      </button>

    </ng-container>


  </ion-list>
</ion-content>

<ng-template #noNetwork>
  <no-network></no-network>
</ng-template>


<ion-footer *ngIf="editable && selected_notifications.length > 0">
  <button class="delete_button" (click)="saveDeleted()" ion-button full>Delete selected</button>
</ion-footer>
