page-notifications {

  ion-label{
    margin-top: 6px !important;
    margin-bottom: 6px !important;
  }
  .date {
    color: #4bc9f5;
    text-transform: uppercase;
    font-size: 12px;
  }
  .title {
    color: #515251;
    font-weight: bold;
    font-size: 14px;
  }
  .text {
    font-size: 14px;
    color: #9b9c9b;
  }

  .toolbar-title {
    text-align: center;
  }
  .toolbar-background {
    background-color: white;
  }
  ion-title {
    color: #3ec9f6;
  }
  .toolbar .button-inner {
    color: #3ec9f6;
  }
  .delete_button {
    background-color: #f5f6f6;
    color: #3ec9f6;
  }
  .read {
    background-color: #f5f6f6;
    .title {
      font-weight: normal;
    }
  }
  .checkbox-icon {
    border-radius: 15px !important;
    width: 25px !important;
    height: 25px !important;
  }
  .checkbox-inner {
    left: 6px !important;
    top: 2px !important;
    width: 8px !important;
    height: 14px !important;
  }
  .item-inner{
    border-bottom: none !important;
  }
  .item{
    border-bottom: 1px solid #dedede;
  }
  .checkbox{
    margin-right: 25px !important;
  }

  .footer {
    .button {
      margin-top: 0;
      margin-bottom: 0;
      span{
        text-transform: none;
      }
    }
  }
}
