page-tour {
  ion-slide {
    position: relative;
  }
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 205px;
    background-color: #4bc9f5;
    color: white;
    font-size: 22px;
  }
  img {
    position: absolute;
    top: 50px;
    left: 0;
    padding-left: 50px;
    padding-right: 50px;
  }
  .swiper-pagination {
    bottom: 210px !important;
  }
  p {
    padding-top:25px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .done {
    font-size: 18px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: inline-block;
  }
  .swiper-pagination-bullet {
    background: #c0e8fa;
    opacity: 1;
    margin: 0 4px;
    margin-bottom: 11px;
  }
  .swiper-pagination-bullet-active {
    background: #50c9f5;
    opacity: 1;
  }
}
