<ion-content>
  <ion-slides [autoplay]="5000" [loop]="true" [speed]="500" [pager]="true">
    <ion-slide>
      <img src="./assets/imgs/tour/roger_intro_1.png">
      <div class="caption">
        <p>Convenient access to course materials.</p>
        <div class="done" (click)="back()" >
          Done
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="./assets/imgs/tour/roger_intro_3.png">
      <div class="caption">
        <p>Downloadable course materials for Offline Access.</p>
        <div class="done" (click)="back()" >
          Done
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="./assets/imgs/tour/roger_intro_2.png">
      <div class="caption">
        <p>Real time progress metrics.</p>
        <div class="done" (click)="back()" >
          Done
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="./assets/imgs/tour/roger_intro_4.png">
      <div class="caption">
        <p>Flexibility to study on the go.</p>
        <div class="done" (click)="back()" >
          Done
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
