<ion-navbar>
  <ion-buttons start menuToggle>
    <button class="logo" ion-button icon-only >
      <ion-icon class="logo-short"></ion-icon>
    </button>
    <button *ngIf="showLogoSeparator" class="logo-separator" ion-button icon-only>
      <ion-icon class="logo-short-separator"></ion-icon>
    </button>
    <button class="section-name" ion-button icon-only [ngClass]="sectionName">
      {{sectionName}}
    </button>
  </ion-buttons>


  <ion-title>
    {{pageTitle}}
  </ion-title>
  <ion-buttons end>
    <ng-content></ng-content>
  </ion-buttons>
</ion-navbar>

