top-bar {

  button.logo{
    margin-left: 10px;
    margin-right: 0;
  }
  button.logo-separator {
    margin-left: 0;
    margin-right: 0;
    min-width: 0 !important;
  }

  ion-icon.logo-short {
    background: url('../assets/imgs/logo-short.svg') no-repeat center;
    width: 26px;
    height: 100%;
  }


  ion-icon.logo-short-separator {
    background: url('../assets/imgs/logo-short-separator.svg') no-repeat center;
    height: 20px;
  }

  .button {
    background-color: transparent;
    box-shadow: none;
    span {
      text-transform: none;
    }
  }


  .toolbar-title {
    color: color($colors, primary);
    font-weight: 600;
    font-size: 21px;
  }
  .toolbar-background {
    background: #ffffff;
  }

  .section-name {
    font-size: 11px;
    font-weight: 700;
    &.AUD {  color: color($section_colors, aud);  }
    &.BEC {  color: color($section_colors, aud);  }
    &.REG {  color: color($section_colors, aud);  }
    &.FAR {  color: color($section_colors, aud);  }
  }

  .bar-buttons, .bar-buttons-md {
    order: 1;
  }

}
