<div class="app-player" [class.fullscreen]="fullscreen">
  <div class="video-wrapper">
    <video id="appPlayer"
           #appPlayer
           autobuffer
           controls
           controlsList="nofullscreen nodownload"
           webkit-playsinline
           playsinline
           preload="metadata"
           (tap)="doShowControls()"
           (pan)="doShowControls()">
      <source [src]="videoUrl" type="video/mp4">
    </video>

    <div *ngIf="waiting" class="waiting">
      <ion-spinner></ion-spinner>
    </div>

    <pdf-reader #pdfReader [hidden]="!(showEbook && fullscreen)"></pdf-reader>
  </div>

  <div *ngIf="!isPlaying && !fullscreen" class="video-title-label">
    <span>{{videoTitle}}</span>
  </div>

  <div *ngIf="fullscreen && !isPlaying" class="overlay">

  </div>
  <ion-toolbar *ngIf="(showControls || !isPlaying) && !showEbook" class="video-controls">
    <ion-buttons left class="left">

      <button class="play-button" ion-button icon-only (click)="togglePlayPause()">
        <ion-icon name="play" *ngIf="!isPlaying"></ion-icon>
        <ion-icon name="pause" *ngIf="isPlaying"></ion-icon>
      </button>

      <button class="backward-button" ion-button icon-only (click)="goBackward()">
        <ion-icon name="custom-skip-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-range min="0" [max]="timeTotal" class="center" (ionBlur)="rangeBlur()" (ionFocus)="rangeFocus()"
               [(ngModel)]="timeCurrent">
      <ion-label range-left>{{ timeCurrent | hoursMinutesSeconds }}</ion-label>
      <ion-label range-right>{{ timeLeft | hoursMinutesSeconds }}</ion-label>
    </ion-range>

    <ion-buttons right class="right">
      <button ion-button icon-only class='toggle-full-screen' (click)="toggleFullscreen()">
        <ion-icon name="custom-fullscreen"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <div *ngIf="showEbook || (fullscreen && (showControls || !isPlaying))" [class.gray]="(isPlaying || (showEbook && !isPlaying))" class="top-controls">
    <div (tap)="toggleEbook()" class="toogle-ebook-button">
      <ng-container *ngIf="!showEbook">
        <button ion-button>
          <ion-icon name="custom-ebook-fullscreen"></ion-icon>
          <span>Show eTextbook</span>
        </button>
      </ng-container>
      <ng-container *ngIf="showEbook">
        <button ion-button>
          <ion-icon class="custom-show-player"></ion-icon>
          Show video
        </button>
      </ng-container>
    </div>
    <div class="center-title" *ngIf="fullscreen">
      <span>{{videoTitle}}</span>
    </div>
    <div class="title">
      <button ion-button (click)="toggleFullscreen()">
        <ion-icon name="custom-player-left-arrow"></ion-icon>
        <span *ngIf="!fullscreen">{{videoTitle}}</span>
      </button>
    </div>
  </div>

</div>
