player {
  position: relative;
  .waiting{
    height: 100%;
    width: 100%;

    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .video-title-label {
    background-color: #fff;
    color: #1d1e1e;
    position: absolute;
    top: 24px;
    left: 18px;
    height: 44px;
    text-align: center;
    width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px;
    span {
      text-transform: uppercase;
      font-size: 20px;
    }
  }
  video {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    vertical-align: text-bottom; // Remove odd gray line
  }
  .video-controls {
    padding-right: 15px;
    padding-left: 15px;
    z-index: 1004;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    color: #fff;
    font-size: 9px;
    height: 44px;
    ion-icon {
      zoom: 0.7;
    }
    .toolbar-content {
      flex: 5;
    }
    .right {
      flex: 1;
    }
    .backward-button, .play-button {
      padding-left: 10px;
      padding-right: 10px;
      margin: 0;
    }
    .play-button {
      font-size: 20px;
    }
    button.toggle-full-screen {
      padding-left: 10px;
      padding-right: 10px;
    }
    ion-label {
      &[range-right], &[range-left] {
        font-size: 11px;
      }
    }
  }
  .video-controls .toolbar-background, .overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  .overlay {
    z-index: 1002;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .overlay + .video-controls .toolbar-background {
    background-color: transparent;
  }
  .range-knob, .range-bar-active {
    background-color: white !important;
  }

  .top-controls.gray {
    background: rgba(0, 0, 0, 0.5);
  }
  .top-controls {
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 1004;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .toogle-ebook-button {
    color: white;
    z-index: 1006;
    padding-top: 11px;
    padding-right: 5px;
    span {
      font-size: 15px;
      text-transform: none;
    }
    .button {
      padding: 0;
      background: none;
      box-shadow: none;
      -webkit-box-shadow: none;
      ion-icon {
        margin-right: 10px;
      }
    }
  }
  .title {
    padding-left: 12px;
    padding-top: 8px;
    flex-shrink: 1;
    font-size: 20px;
    color: white;
    z-index: 1006;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    span {
      text-transform: none;
      font-size: 15px;
    }
    .button {
      padding: 0;
      background-color: transparent;
      box-shadow: none;
      -webkit-box-shadow: none;
      ion-icon {
        margin-right: 13px;
      }
    }
    .title-text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 300px;
      display: inline-block;
    }
  }
  .center-title {
    color: white;
    padding-top: 11px;
    span {
      font-size: 15px;
      text-transform: none;
    }
  }
}

@media screen and (orientation: portrait) {
  .top-controls {
    display: none;
  }
}

@media screen and (orientation: landscape) {

  div.toogle-ebook-button, pdf-reader, div.title {
    display: block;
  }
  .scroll-content {
    position: absolute;
    top: 0px;
    margin-top: 0 !important;
  }
  player {
    display: block;
    height: 100vh;
    flex: none;
    video {
      //height: calc(100vh - 110px);
      display: block;
      height: 100vh;
      width: 100vw;
      z-index: 1000;
      position: absolute;
      top: 0;
      left: 0;

      // @todo: remove odd black artifact from top, it is this background that is seen, looks like a thin boarder
      background: black;
    }

    pdf-reader {
      display: block;
      position: absolute;
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1003;
      background-color: white;;
    }
  }
  .header-md {
    &::before,
    &::after {
      background-image: none;
    }
  }
  ion-navbar {
    position: absolute;
    top: 0;
    z-index: 1005;
    font-weight: normal;
    * {
      color: white;
    }
    .toolbar-background {
      background: rgba(0, 0, 0, 0.5);
    }
  }
  &::after {
    background-image: none;
    display: none;
  }
  .topics-list {
    display: none;
  }

}
